# Virtual Environment
venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff (if you're planning to use Django)
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Flask stuff (if you're planning to use Flask)
instance/
.webassets-cache

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db